<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="E-Forms smart form builder">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %} Smart form builder {% endblock %} | Eforms</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eforms/css/bootstrap.min.css') }}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eforms/css/dashboard.css') }}" />
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


{% block navbar %}
{% endblock %}

{% block container %}
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/eforms/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/eforms/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/eforms/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}

</body>
</html>
