{% extends "EFormsBundle:Admin:leftSideBarBase.html.twig" %}

{% block rightsidebar %}
    <h1 class="page-header">Creare formular</h1>
    <h2>Date formular</h2>
    <div class="form-group">
        <label for="exampleInputEmail1">Nume Formular</label>
        <input type="text" class="form-control" id="formName" placeholder="Numele formularului">
    </div>
    <h2>Campuri de completat</h2>
    <div class="build-wrap"></div>
    <div class="render-wrap"></div>
    <button id="edit-form">Edit Form</button>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/eforms/js/form-builder.min.js') }}"></script>
    <script src="{{ asset('bundles/eforms/js/form-render.min.js') }}"></script>
    <script src="{{ asset('bundles/eforms/js/demo.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eforms/css/form-builder.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eforms/css/form-render.min.css') }}" />
{% endblock %}