{% extends "EFormsBundle:Admin:leftSideBarBase.html.twig" %}

{% block rightsidebar %}
    <h1>Completati formularul</h1>
    <form id="render-form">
        <div class="render-wrap" data-form-builder='{{ form|json_encode }}'></div>
        <input id="submitBtn" type="button" class="btn btn-success" value="Trimite" />
    </form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/eforms/js/form-render.min.js') }}"></script>
    <script src="{{ asset('bundles/eforms/js/validation.js') }}"></script>
    <script src="{{ asset('bundles/eforms/js/utils.js') }}"></script>
    <script src="{{ asset('bundles/eforms/js/demo_renderer.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eforms/css/form-builder.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/eforms/css/form-render.min.css') }}" />
{% endblock %}
